<%- include('../includes/head/index.ejs') %>

	<body>
		<div id="wrapper" class="is-collapse is-active">
			<!-- === HEADER - START === -->
			<%- include('../includes/header-for-registration-page/index.ejs') %>
				<!-- === HEADER - END === -->

				<!-- Main Contents -->
				<!-- <div class="main_content_custom mt-8"> -->
				<div class="main_content_custom_v2">

					<div class="">
						<section class="">
							<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen md:h-auto lg:py-0 ">
								<!-- <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
							<img class="w-16 h-16 mr-2" src="/uploads/logo/all-world-trade-circle-logo-mar-07-0946.png" alt="logo">
							All World Trade
						</a> -->
								<div
									class="w-full bg-white rounded-lg shadow dark:border dark:border-gray-700 md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800">
									<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
										<h1
											class="text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
											Create Account</h1>
										<!-- <form class="space-y-4 md:space-y-6" action="#"> -->
											<form action="javascript:void(0);" class="space-y-5 md:space-y-5" method="POST" id="registrationFormV2" name="registrationFormV2" enctype="multipart/form-data" accept-charset="utf-8">
												<div>
													<label for="firstName" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
														Firstname
													</label>
													<input type="text" name="firstName" id="firstName"
														class="bg-gray-50 border border-gray-300 with-border text-gray-900 md:text-md rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
														placeholder="Firstname" required="">
												</div>
												<div>
													<label for="lastName" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
														Lastname
													</label>
													<input type="text" name="lastName" id="lastName"
														class="bg-gray-50 border border-gray-300 with-border text-gray-900 md:text-md rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
														placeholder="Lastname" required="">
												</div>
												<div>
													<label for="accountType" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
														I am
													</label>
													<select id="accountType" name="accountType" class="shadow-none selectpicker with-border ">
														<option value="1">Trader</option>
														<option value="2">Visitor looking for Large Scale Company</option>
														<option value="3">Visitor looking for Medium Scale Company</option>
														<option value="4">Visitor looking for Small Scale Company</option>
													</select>
												</div>
												<div>
													<label for="emailAddress" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
														Email Address</label>
													<input type="email" name="emailAddress" id="emailAddress"
														class="bg-gray-50 border border-gray-300 with-border text-gray-900 md:text-md rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
														placeholder="name@domain.com" required="">
												</div>
												<div>
													<label for="password" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
														Password
													</label>
													<input type="password" name="password" id="password"
														class="bg-gray-50 border border-gray-300 with-border text-gray-900 md:text-md rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
														placeholder="Password" required="">
												</div>
												<div>
													<label for="confirmPassword" class="block mb-2 text-md font-medium text-gray-900 dark:text-white">
														Confirm Password
													</label>
													<input type="password" name="confirmPassword" id="confirmPassword"
														class="bg-gray-50 border border-gray-300 with-border text-gray-900 md:text-md rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500"
														placeholder="Confirm Password" required="">
												</div>
												<div class="flex items-start">
													<div class="flex items-center h-5">
														<input id="terms" name="terms" aria-describedby="terms" type="checkbox"
															class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
															required="">
													</div>
													<div class="ml-3 text-md">
														<label for="terms" class="font-light text-gray-500 dark:text-gray-300">I accept the <a
																class="font-medium text-blue-600 hover:underline dark:text-primary-500" href="#">Terms and
																Conditions</a></label>
													</div>
												</div>
												<button type="submit"
													class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create
													an account</button>
												<p class="text-md font-light text-gray-500 dark:text-gray-400">
													Already have an account? <a href="#"
														class="font-medium text-blue-600 hover:underline dark:text-primary-500">Login here</a>
												</p>
									</div>
									</form>
								</div>
							</div>
					</div>
					</section>

				</div>


		</div>


		</div>
		<%- include('../includes/scripts/index.ejs') %>
		<script src="assets/js/registration-v2.js"></script>

	</body>

	</html>