<div id="selectionQuestion" class="create-post" uk-modal>
  <div
    class="relative p-0 rounded-lg shadow-2xl uk-modal-dialog uk-modal-body uk-margin-auto-vertical lg:w-5/12 uk-animation-slide-bottom-small">
    <div class="py-4 text-center border-b bg-gray-50 ">
      <h3 class="pr-2 text-lg font-semibold">&nbsp;
      </h3>
      <button class="uk-modal-close-default bg-gray-100 rounded-full p-2.5 m-1 right-2" type="button" uk-close
        uk-tooltip="title: Close ; pos: bottom ;offset:7"></button>
    </div>
    <div class="bottom-0 w-full p-5 bsolute bg-gray-50">
      <h3 class="pr-2 mb-2 text-lg font-semibold" id="selectionEngagementMessage">How do you want to engage with Little Twinkling Star Jewelry Store ?
      </h3>
      <div class="items-center p-2 shadow-sm rounded-2xl" id="contactTheTrader">
        <div class="flex px-4 py-4 -mx-2 space-x-4 rounded-md hover:bg-gray-100">
          <div class="relative flex-shrink-0 rounded-md w-14 h-14">
            <!-- <img src="assets/images/group/group-3.jpg" class="absolute inset-0 object-cover w-full h-full rounded-md"
              alt=""> -->
              <img src="assets/images/icons/video-call-icon3.png"
              class="absolute inset-0 object-cover w-full h-full rounded-md" alt="">
          </div>
          <div class="flex-1">
            <div id="contactTheTraderMessage">
              <h3 class="text-lg font-semibold capitalize">Contact The Trader</h3>
              <div class="text-sm text-gray-500 mt-0.5"> Use the communication feature to start a conversation with the
                trader.</div>
            </div>
            <div id="offlineTraderMessageDiv" class="hidden">
              <h3 class="text-lg font-semibold capitalize">The trader is currently offline</h3>
              <div class="text-sm text-gray-500 mt-0.5" id="offlineTraderMessage"></div>
            </div>
          </div>
        </div>
        <!-- <a class="text-md text-red-600 mt-0.5" id="offlineTraderStatusMessage"></a> -->
      </div>
      <div class="items-center p-2 shadow-sm rounded-2xl" id="downloadTraderDetails">
        <div class="flex px-4 py-4 -mx-2 space-x-4 rounded-md hover:bg-gray-100">
          <div class="relative flex-shrink-0 rounded-md w-14 h-14">
            <img src="assets/images/icons/download-file.jpg"
              class="absolute inset-0 object-cover w-full h-full rounded-md" alt="">
          </div>
          <div class="flex-1">
            <h3 class="text-lg font-semibold capitalize">Download Trader Details</h3>
            <div class="text-sm text-gray-500 mt-0.5">Click here to download and save the trader's details to your
              device.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>