<%- include('../includes/head/index.ejs') %>

  <body>
    <div id="wrapper" class="is-collapse is-active">
      <!-- === HEADER - START === -->
      <%- include('../includes/nav/primary-navigation.ejs') %>
      <!-- === HEADER - END === -->

        <!-- Main Contents -->
        <div class="main_content">
          <div class="" style="height:7rem"></div>
          <div class="max-w-5xl mx-auto p-7">
              
              <div class="-mt-16 bg-white p-10 relative rounded-md shadow">

                  <div class="text-center text-xl font-semibold" id="text-xl-name"></div>

                  <!-- Pricing cards -->
                  <div class="grid md:grid-cols-3 gap-7 mt-12">

                      

                      <!-- Card 1 -->
                      <div class="bg-white border border-gray-100 hover:shadow-md p-6 rounded-xl relative"> 

                          <!-- <span class="absolute bg-blue-100 font-semibold px-2.5 py-1 right-4 rounded-full text-blue-600 text-xs"> Popular </span> -->

                          <div class="font-bold mb-4 text-2xl text-blue-600 orbitron">Medium Scale</div>
                          <div class="font-medium mb-6 text-gray-400 text-base orbitron"> Upgrade into medium scale </div>

                          <div class="border-b-2 border-blue-50 flex items-baseline mb-10 pb-8 space-x-2">
                              <div class="font-semibold text-4xl text-black"></div>
                              <div class="font-medium text-gray-400"></div>
                          </div>

                          <div class="space-y-4 text- font-medium text-gray-400"> 
                              <!-- <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i> 
                                  <div class="orbitron"> Featured member </div>
                              </div>
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i> 
                                  <div class="orbitron"> Verified badge </div>
                              </div> 
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i>  
                                  <div class="orbitron"> Boost up to 10 Posts </div>
                              </div> 
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i>  
                                  <div class="orbitron"> Boost up to 10 Pages </div>
                              </div> 
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i>  
                                  <div class="orbitron"> Posts promotion</div>
                              </div> -->
                              
                          </div>

                          <button class="bg-blue-600 mt-8 py-3 rounded-md text-white w-full font-semibold hover:text-white blue-white-hover" id="mediumScale">Medium Scale</button>
                      </div>

                      <!-- Card 2 -->
                      <div class="bg-white border border-gray-100 hover:shadow-md p-6 rounded-xl relative">  

                          <div class="font-bold mb-4 text-2xl text-blue-600 orbitron">Large Scale</div>
                          <div class="font-medium mb-6 text-gray-400 text-base orbitron"> Upgrade into large scale </div>

                          <div class="border-b-2 border-blue-50 flex items-baseline mb-10 pb-8 space-x-2">
                              <div class="font-semibold text-4xl text-black"></div>
                              <div class="font-medium text-gray-400"></div>
                          </div>

                          <div class="space-y-4 text- font-medium text-gray-400"> 
                              <!-- <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i> 
                                  <div class="orbitron"> Featured member </div>
                              </div>
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i> 
                                  <div class="orbitron"> Verified badge </div>
                              </div> 
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i>  
                                  <div class="orbitron"> Boost up to 20 Posts </div>
                              </div> 
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i>  
                                  <div class="orbitron"> Boost up to 20 Pages </div>
                              </div> 
                              <div class="flex items-center space-x-5">
                                  <i class="icon-feather-check font-bold text-blue-600"></i>  
                                  <div class="orbitron"> Posts promotion</div>
                              </div> -->
                              
                          </div>

                          <button class="bg-blue-600 mt-8 py-3 rounded-md text-white w-full font-semibold hover:text-white blue-white-hover" id="largeScale">Large Scale</button>
                      </div>

                      <!-- Card 3 -->
                      <div class="bg-white border border-gray-100 hover:shadow-md p-6 rounded-xl">

                        <div class="font-bold mb-4 text-2xl text-blue-600 orbitron">Trader Membership</div>
                        <div class="font-medium mb-6 text-gray-400 text-base orbitron"> Upgrade into trader membership</div>

                        <div class="border-b-2 border-blue-50 flex items-baseline mb-10 pb-8 space-x-2">
                            <div class="font-semibold text-4xl text-black"></div>
                            <div class="font-medium text-gray-400"></div>
                        </div>

                        <div class="space-y-4 text- font-medium text-gray-400"> 
                            <!-- <div class="flex items-center space-x-5">
                                <i class="icon-feather-check font-bold text-blue-600"></i> 
                                <div class="orbitron"> Featured member </div>
                            </div>
                            <div class="flex items-center space-x-5">
                                <i class="icon-feather-check font-bold text-blue-600"></i> 
                                <div class="orbitron"> Verified badge </div>
                            </div> 
                            <div class="flex items-center space-x-5">
                                <i class="icon-feather-check font-bold text-blue-600"></i>  
                                <div class="orbitron"> Boost up to 5 Posts </div>
                            </div> 
                            <div class="flex items-center space-x-5">
                                <i class="icon-feather-check font-bold text-blue-600"></i>  
                                <div class="orbitron"> Boost up to 5 Pages </div>
                            </div> 
                            <div class="flex items-center space-x-5">
                                <i class="icon-feather-check font-bold text-blue-600"></i>  
                                <div class="orbitron"> Posts promotion</div>
                            </div> -->
                            
                        </div>

                        <button class="bg-blue-600 mt-8 py-3 rounded-md text-white w-full font-semibold hover:text-white blue-white-hover" id="tradersScale">Trader Scale</button>

                    </div>

                  </div>
                  
              </div>
      
          </div>
      </div>


    </div>
    <%- include('../includes/scripts/index.ejs') %>
      <script  src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.js"></script>
      <script  src="assets/js/upgrade-plan.js"></script>
      


  </body>

  </html>