<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <link  rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css-tailwind/output.css" />
  <!-- <link rel="stylesheet" href="<%= process.env.AWT_HOSTNAME %>assets/css/custom.css" /> -->
</head>
<body>
  <h1 class="text-3xl font-bold underline">
    Hello world1!
  </h1>
  <h1 class="text-3xl">
    Hello world2!
  </h1>
  <h1 class="font-bold">
    Hello world3!
  </h1>
  <h1 class="underline">
    Hello world4!
  </h1>
  <h1 class="">
    Hello world5!
  </h1>
</body>
</html>