

<!-- 3rd version [start]-->

<div class=" mx-auto mb-5">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
    <div
      class="flex justify-center text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl hover:bg-gray-100"
    >
      <div
      onclick="lookingForSmallScaleCompany()" 
      class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14"
      id="btnSmallScaleCompany"
      >
        <h2 class="text-xl font-semibold mt-5">Visitor Members looking for</h2>
        <h2 class="text-xl font-semibold">Micro or Small Scale Company</h2>
        <p class="text-xs text-gray-500 mb-5">( Individual Information Only / Upgradable  )</p>
      </div>
    </div>
    <div
      class="flex justify-center text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl hover:bg-gray-100"
    >
      <div
      onclick="lookingForMediumScaleCompany()" 
      class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14"
      id="btnMediumScaleCompany"
      >
        <h2 class="text-xl font-semibold mt-5">Visitor Members looking for</h2>
        <h2 class="text-xl font-semibold">Medium Scale Company</h2>
        <p class="text-xs text-gray-500 mb-5">( Individual And Company Information / Upgradable )</p>
      </div>
    </div>
    <div
      class="flex justify-center text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl hover:bg-gray-100"
    >
    <div
    onclick="lookingForLargeScaleCompany()" 
    class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14"
    id="btnLargeScaleCompany"
    >
      <h2 class="text-xl font-semibold mt-2">Visitor Members looking for</h2>
      <h2 class="text-xl font-semibold">Large Scale or </h2>
      <h2 class="text-xl font-semibold"> High Technology Company</h2>
      <p class="text-xs text-gray-500 mb-2">( Exhaustive Company Information / Upgradable )</p>
    </div>
    </div>
    <div
      class="flex justify-center text-6xl bg-gray-100 border-2 border-gray-300 rounded-xl hover:bg-gray-100"
    >
    <div
    onclick="tradersRegistration()" 
    class="lg:px-2 text-center block border-white rounded-custom hover:border-gray-100 hover:bg-gray-100 py-3 px-14"
    id="btnTradersRegistration"
    >
      <h2 class="text-xl font-semibold mx-16 mt-2">Trader Members</h2>
      <p class="text-xs text-gray-500 mb-2 mt-2">( Company And Marketing Information )</p>
      <p class="text-xs text-gray-500">( Traders are automatically Visitors)</p>
    </div>
    </div>
  </div>
</div>

<!-- 3rd version [end]-->

<script >
  let currentUrl = window.location.href;
  let lastSegment = currentUrl.split("/").pop();
  if (lastSegment === 'registration-for-small-scale-company') {
    var element = document.getElementById("btnSmallScaleCompany");
    element.classList.add("bg-gray-100");
  }
  if (lastSegment === 'registration-for-medium-scale-company') {
    var element = document.getElementById("btnMediumScaleCompany");
    element.classList.add("bg-gray-100");
  }
  if (lastSegment === 'registration-for-large-scale-company') {
    var element = document.getElementById("btnLargeScaleCompany");
    element.classList.add("bg-gray-100");
  }
  if (lastSegment === 'traders-registration') {
    var element = document.getElementById("btnTradersRegistration");
    element.classList.add("bg-gray-100");
  }
</script>