
<header>
    <div class="header_wrap">
        <div class="header_inner mcontainer">
            <div class="left_side">
                <div id="logo">
                    <a href="" style="vertical-align: middle;">
                        <!-- === LOGO - START === -->
                        <%- include('../header_logo/index.ejs') %>
                        <!-- === LOGO - END === -->
                    </a>
                </div>
            </div>
            <!-- === NAVIGATION - START === -->
            <div class="header_search">
                <!-- === NAVIGATION ICON - START === -->
                <%- include('../nav/index.ejs') %>
                <!-- === NAVIGATION ICON - END === -->
            </div>
            <!-- === NAVIGATION - END === -->
            <div class="right_side">
                <div class="header_widgets">
                    <!-- === CART - START === -->
               
                    <!-- === CART - END === -->

                    <!-- === NOTIFICATIONS - START === -->
                   
                    <!-- === NOTIFICATIONS - END === -->

                    <!-- === MESSAGES - START === -->
                   
                    <!-- === MESSAGES - END === -->

                    <!-- === AVATAR - START === -->
                    
                    <!-- === AVATAR - END === -->
                </div>
            </div>
        </div>
    </div>
</header>
