<%- include('../includes/head/index.ejs') %>

  <link  rel="stylesheet" href="assets/css/verification.css" />

  <body>
    <div id="wrapper" class="is-collapse is-active">
      <!-- === HEADER - START === -->
      <!-- ../includes/header/index.ejs -->
      <%- include('../includes/header/for-email-verification.ejs') %>
      
        <!-- === HEADER - END === -->

        <!-- Main Contents -->
        <div class="main_content_custom">
          <div class="mcontainer">
            <div class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">
              <!-- form header -->
              <div class="text-center border-b border-gray-100 py-6">
                <h3 class="font-bold text-xl"> Verify Your Email Address </h3>
              </div>

              <!-- form body -->
              <form class="otc" name="one-time-code" action="#">
                <fieldset>
                  <div class="p-10 space-y-10">
                    <p class="leading-6 pr-4 orbitron"> We've sent an email to 
                      <span class="text-blue-500">
                        <%- registration_email_address %>
                      </span> 
                      to verify your email address and activate your account. The code in the email will expire in 24 hours.
                    </p>
                    <p class="leading-6 pr-4 orbitron">
                      If you do not see the email in your <span class="text-blue-500">inbox</span> in a few minutes, please check your <span class="text-blue-500">“junk mail”</span> folder or <span class="text-blue-500">“spam”</span> folder. 
                    </p>
                    <p class="leading-6 pr-4 orbitron">
                      If you do not receive a verification email try <span class="text-blue-500">“Resend Code”</span> again or <span class="text-blue-500">“Skip for now and go to login ”</span>
                    </p>
                    <div class="grid grid-flow-col pt-3 -mx-1 -mb-1 font-semibold text-sm">
                      <input type="number" placeholder="" class="shadow-none with-border" pattern="[0-9]*" min="0"
                        max="9" maxlength="1" inputtype="numeric" id="otc-1" required />
                      <input type="number" placeholder="" class="shadow-none with-border" pattern="[0-9]*" min="0"
                        max="9" maxlength="1" inputtype="numeric" id="otc-2" required />
                      <input type="number" placeholder="" class="shadow-none with-border" pattern="[0-9]*" min="0"
                        max="9" maxlength="1" inputtype="numeric" id="otc-3" required />
                      <input type="number" placeholder="" class="shadow-none with-border" pattern="[0-9]*" min="0"
                        max="9" maxlength="1" inputtype="numeric" id="otc-4" required />
                      <input type="number" placeholder="" class="shadow-none with-border" pattern="[0-9]*" min="0"
                        max="9" maxlength="1" inputtype="numeric" id="otc-5" required />
                      <input type="number" placeholder="" class="shadow-none with-border" pattern="[0-9]*" min="0"
                        max="9" maxlength="1" inputtype="numeric" id="otc-6" required />
                    </div>

                    <div class="flex mt-3.5 space-x-8">
                      <button
                        class="blue-white-hover bg-gray-200 flex flex-1 h-8 items-center justify-center rounded-md capitalize"
                        id="btnResendVerificationCode">
                        Resend Code
                      </button>
                      <button
                        class="blue-white-hover bg-blue-600 flex flex-1 items-center justify-center rounded-md text-white capitalize"
                        id="btnVerifyCode">
                        Verify Code
                      </button>
                    </div>
                    <a href="#" class="block text-center pb-4 font-medium text-blue-500" onclick="goToLogin();"> Skip
                      for now and go to login </a>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>


    </div>
    <%- include('../includes/scripts/index.ejs') %>
      <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.0/sweetalert2.min.js"></script>
      <script  src="assets/js/email-verification.js"></script>
      <script >
        function goToLogin() {
          location.replace(host + '/login');
        }
      </script>

  </body>

  </html>